.asmHighlight {
	color: #777; 
}

#dg_payments{
	background-color: #FFFFFF;
}
.asmSelect {
	margin: 1em 0 0.25em 0;
}

/***Payment Gateways****/
#dg_payments{
	width:96%;
	padding:2%;
}

.dg_payment_gateway{
	width:98%; 
	margin-bottom:10px;
}
.dg_payment_title{
	width:100%; 
	padding-top:2px; 
	padding-bottom:2px; 
	padding-left:2px; 
	text-transform:uppercase;
	border-bottom:1px solid #CCCCCC; 
	cursor:pointer;
}

.dg_instructions{
	float:right;
	margin-right:5px;
}

.dg_gateway_options{
	width:100%;
	display:none;
}

/***Mail Options***/
#dg_mail_settings{
	width:96%;
	padding:2%;
}

.dg_mail_type{
	width:98%; 
	margin-bottom:10px;
	border:1px solid #CCCCCC; 
}
.dg_mail_title{
	width:100%; 
	padding-top:2px; 
	padding-bottom:2px; 
	padding-left:2px; 
	text-transform:uppercase;
	border-bottom:1px solid #CCCCCC; 
	cursor:pointer;
}

.dg_mail_opts{
	width:100%;
	display:none;
}

.dg_mail_opts textarea{
	width:80%;
	height:300px;
}

.dg_mail_opts iframe{
	background-color:#ffffff;
}

button{
	border-color: #BBBBBB;
	background-color: #FFFFFF;
	border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
	margin: 1px;
    padding: 3px;
	font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
	line-height: 15px;
	outline: 0 none;
    color: #464646;
}

.csv_export{
	width:100%;
	clear:both;
}

.paymentwrap{
	background-color:#ffffff;
}
.paymentwrap .title{
	margin-left:24px;
}
.paymentwrap .button-primary{
	margin-left:5px;
}

#dg_digifile{
	width:16px;
	height:16px;
	background: url('../images/upload.png') no-repeat;
	text-indent: -99999px;
	cursor:pointer;
	padding-bottom: 0;
    padding-top: 0;
}